@import 'setup';
@import 'mixins';

html {
    @include primaryFont;
    font-size: 18px;
}

body {
    @include backgroundColour;
}

header {
    height: 25vh;
    position: relative;
    text-align: center;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #5B5F97;
    text-shadow: 3px 4px #FFF;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
}

.calendar {
    @include foregroundColour;
    padding: 15px;
    border-radius: 15px;
}

.removeBottomBorder {
    border-radius: 15px 15px 0px 0px;
}

.month {
    padding: 50px;
}

h2 {
    display: inline-block;
    width: 250px;
    font-size: 1.5rem;
    text-shadow: 2px 1px #b8b8d1;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

button {
    border: none;
    background: transparent;
    @include foregroundColour
}

button:hover i,
button:focus i{
    @include buttonHoverFocusColour;
}

i {
    @include buttonColour;
    transition: all 0.5s ease;
}

.dayOfWeek {
    padding: 10px 0;
}

.dayOfWeek, 
.gridDay {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.gridDay div {
    padding: 10px;
}

.gridDay div:hover, 
.gridDay div:focus-within {
    @include gridDayHoverFocusStyle;
    cursor: pointer;
    
}

.gridDay div:focus-within a,        
.gridDay div:hover a {
    color: #5B5F97;
    font-weight: bold;
    
}

.gridDay div:empty {
    @include foregroundColour;
}

.gridDay  a {
    @include primaryFont;
    text-decoration: none;
}

.event {
    @include dayEvent;
}

.agenda {
    @include foregroundColour;
    display: none;
    padding: 30px 0px;
    border-radius: 0px 0px 15px 15px;
}

label {
    display: block;
    padding: 10px;
}

label span {
    font-size: 1rem;
    text-shadow: 1px 1px #b8b8d1;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

input {
    padding: 5px;
    border-radius: 10px;
    border: transparent;
}

.agendaInput {
    display: block;
    width: 75%;
    margin: 0 auto;
}

.agenda li {
    margin: 15px auto 0 auto;
    display: block;
    width: 75%;
    text-align: left;
    overflow-wrap: break-word;
}

.fa-star {
    vertical-align: middle;
    margin-right: 2px;
    font-size: 0.4rem;
} 
.agenda li .deleteItem {
    opacity: 0;
    font-size: 0.8rem;
}

.agenda li:hover .deleteItem {
    opacity: 1;
    visibility: visible;
}