@import 'setup';
@import 'mixins';

html {
    @include primaryFont;
    font-size: 18px;
}

body {
    @include backgroundColour;
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
}

.calendar {
    @include foregroundColour;
    margin-top: 25%;
    padding: 15px;
    border-radius: 15px;
}

.month {
    padding: 50px;
}

h1 {
    display: inline;
}

i {
    @include buttonColour;
}

.dayOfWeek {
    padding: 10px 0;
}

.dayOfWeek, 
.gridDay {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.gridDay div {
    padding: 10px;
}

.gridDay div:hover, 
.gridDay div:focus-within {
    @include gridDayHoverFocusStyle;
    
}

.gridDay div:hover a {
    color: #5B5F97;
}

.gridDay div:empty {
    @include foregroundColour;
}

.gridDay a {
    @include primaryFont;
    text-decoration: none;
}

.event {
    @include dayEvent;
}

.agenda {
    @include foregroundColour;
    display: none;
    padding: 15px;
    border-radius: 15px;
}

.agendaInput {
    display: block;
    width: 75%;
    margin: 0 auto;
}

label {
    display: block;
    padding: 10px;
}

button {
    border: none;
    background: transparent;
    @include foregroundColour
}

button i:hover,
button:focus i{
    @include buttonHoverFocusColour;
}