@import 'setup';
@import 'mixins';

html {
    @include primaryFont;
    font-size: 18px;
}

body {
    @include backgroundColour;
}

header {
    height: 25vh;
}

h1 {
    @include h1Font;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.calendar {
    @include foregroundColour;
    padding: 15px;
    border-radius: 15px;
}

.removeBottomBorder {
    border-radius: 15px 15px 0px 0px;
}

.month {
    padding: 50px;
}

h2 {
    @include secondaryFont;
    display: inline-block;
    width: 250px;
    font-size: 1.5rem;
    text-shadow: 2px 1px #b8b8d1;

}

button {
    @include foregroundColour;
    border: none;
    background: transparent;
}

button:hover i,
button:focus i{
    @include buttonHoverFocusColour;
}

i {
    @include buttonColour;
    transition: all 0.5s ease;
}

.dayOfWeek {
    padding: 10px 0;
}

.dayOfWeek, 
.gridDay {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.gridDay div {
    padding: 10px;
}

.gridDay div:hover, 
.gridDay div:focus-within {
    @include gridDayHoverFocusStyle;
    cursor: pointer;
    
}

.gridDay div:focus-within a,        
.gridDay div:hover a {
    color: #5B5F97;
    font-weight: bold;
    
}

.gridDay div:empty {
    @include foregroundColour;
    cursor: default;
}

.gridDay  a {
    @include primaryFont;
    text-decoration: none;
}

.containsTodoItem {
    @include dayEvent;
}

.agenda {
    @include foregroundColour;
    display: none;
    padding: 30px 0px;
    border-radius: 0px 0px 15px 15px;
}

label {
    display: block;
    padding: 10px;
}

label span {
    @include secondaryFont;
    text-shadow: 1px 1px #b8b8d1;
}

input {
    padding: 5px;
    border: transparent;
    border-radius: 10px;
}

.agendaInput {
    @include uniformInputListStyle;
    margin: 0 auto;
}

.agenda ul {
    margin-top: 25px;
}

.agenda li {
    @include uniformInputListStyle;
    margin: 15px auto 0 auto;
    text-align: left;
    overflow-wrap: break-word;
}

.fa-star {
    vertical-align: middle;
    margin-right: 2px;
    font-size: 0.4rem;
} 
.agenda li .deleteItem {
    font-size: 0.8rem;
    opacity: 0;
}

.agenda li:hover .deleteItem {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
header {
height: 15vh;
}

h1 {
    top: 50%;
    font-size: 3rem;
    text-align: center;
}

h2 {
    width: 35%;
    font-size: 1rem;
    transition: ease all 0.5s;
}

.month {
    padding: 5px;
}

.month i,
.month button {
    font-size: 2rem;
}

.agenda {
    padding: 15px 0px;
}

.agenda li {
text-align: center;
}

.agenda li .deleteItem {
    font-size: 1rem;
    opacity: 1;
}
}

@media only screen and (max-width: 425px) {
h1 {
font-size: 2rem;
}
}

@media only screen and (max-width: 320px) {
h1 {
    text-decoration: none;
}
h2,
label span {
    text-shadow: none;
}

h2, 
.month,
.dayOfWeek,
.gridDay,
label,
.agenda li {
    font-size: 0.75rem ;
}
}

